<% size = Resque.redis.llen(Resque::Plugins::History::HISTORY_SET_NAME) %>
<% start = params[:start].to_i %>
<% history = Resque.redis.lrange(Resque::Plugins::History::HISTORY_SET_NAME, start, start + 20)%>

<h1 class='wi'>Job history</h1>
<p class='intro'>Showing <%=start%> to <%= start + 20 %> of <b><%= size = Resque.redis.llen(Resque::Plugins::History::HISTORY_SET_NAME) %></b> jobs</p>

<%= partial :next_more, :start => params[:start].to_i, :size => size %>

<table class='queues1'>
  <tr>
    <th>Job</th>
    <th>Arguments</th>
    <th>Time</th>
  </tr>
  <% history.each do |history| %>
      <% j = JSON.parse(history) %>
      <tr>
        <td class='queue'><%= j["class"] %></td>
        <td class='args'><%= j["args"] %></td>
        <td class='args'><%= j["time"] %></td>
      </tr>
  <% end %>
</table>

<%= partial :next_more, :start => start, :size => size %>